.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
  }
  
  .lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
  }
  